.title {
    text-align: center;
    width: 100%;
    font-size: 10rem;
    margin: 0;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: gray;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.column1,
.column2,
.column3 {
    margin: 1rem;
    min-width: fit-content;
    height: fit-content;
}

.column2{
    margin-top: 15rem;
    border-radius: 1rem;
    background-color: green;
    font-size: 2rem;
}

.column3{
    border-radius: 1rem;
    padding-left: 1rem;
    background-color: palevioletred;
    font-size: 2rem;
}

.aboutMe {
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
    background-color: aqua;
    font-size: 2rem;
}

.hobbies{
    margin: 1rem;
}

.hobbieItem{
    margin-left: 2rem;
}

.lastly{
    margin-left: 3.5rem;
}

.lane{
    margin: 0;
}

.teachers{
    margin: 0;
}

.laneBody{
    margin: .5;
    margin-top: .2;
}

.sam{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 20vh;
}

.page2{
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border-width: 1rem;
    border: solid;
    background-color: white;
}

.page2Container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainbody{
    margin: 1rem;
    font-size: 2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page2Title{
    margin: 1rem;
    font-size: 5vh;
}

.back{
    width: 80%;
    height: 30vh;
}

.back{
    font-size: 25vh;
    text-align: center;
}

.backContainer{
    align-items: center;
    height: 40vh;
}